html{
    scroll-behavior: smooth;
}

#talk>a{
    position: relative;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    top: 25%;
    left: 5px;

}


#header{
    position: sticky;
    top: 0;
    z-index: 1;
}
body{
    background-color: rgb(6, 6, 59);
}
.left>h3{
    color: white;
    background-color: rgb(8, 8, 124);
    width: 30%;
    text-align: center;
  

}
.left>p{
    font-family: Arial, Helvetica, sans-serif;
}

    

.left>.first{
    color: white;
}
.left>.move{
    color: rgb(78, 78, 236);
}
.right{
    position: relative;

}

.right>img{
    position: absolute;
    width: 40%;
    height: 53vh;
    top: 50%;
    left: 15%;
    border-radius: 10px;
}


.move>span{
    opacity: 1;
    animation-name:show;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
.item1{
    animation-delay: 0.3s;
}
.item2{
    animation-delay: 0.6s;
}
.item3{
    animation-delay: 0.9s;
}
.item4{
    animation-delay: 1.2s;
}
.item5{
    animation-delay: 01.5s;

}
.item6{
    animation-delay: 1.8s;
}
.item7{
    animation-delay: 2.1s;
}
.item8{
    animation-delay: 2.4s;
}
.item9{
    animation-delay: 2.7s;
}
.item10{
    animation-delay: 3s;
}
@keyframes show {
    from{opacity: 0;
        
    }
    to{opacity: 1;}
    
}
    
.home{
   
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
} 
.right>.mainimage{
    opacity: 0.4;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: enter;
}
@keyframes enter {
    from{
        left:500px;
    }
    to{
        left: 15%;
    }
    
}

.line{
    position: absolute;
    width: 50%;
    position: relative;
    top: 10vh;
    left: 10%;
    border-radius: 50%;
    
    overflow: hidden;
    height: 40vh;
}
.butoon{
    margin-top: 100px;
    display: flex;
}
.butoon>div{
    color: white;


}
.firstbutton{
    background-color: blue;
    padding-top: 15px;
    height: 6vh;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 50px;
    margin-right: 5%;
    cursor: pointer;
    transition-duration: 0.6s;
    

}
.firstbutton:hover{
    color: green;
    background-color:yellow;

}
.butoon>a>img{
    width: 50px;
    margin-left: 10%;
    padding-left: 10px;
}
.footer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 10vh;
    margin: 0;
    background-color: rgb(26, 26, 93);
    box-shadow: 0 0 5px ;
}
.footer>h1{
    color: white;
    text-align: center;
}
.svg1{
    position: relative;
}
.svg1>p{
    left: 10%;
    color: white;
    position: absolute;
}
.svg2{
    position: relative;
}
.svg2>p{
    left: 10%;
    color: white;
    position: absolute;
}
.svg3{
    position: relative;
}
.svg3>p{
    left: 10%;
    color: white;
    position: absolute;
}
.lastfraction{
    
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid white;
    height: 100vh;
    border: none;
}
.lleft>img{
    position: relative;
    border-radius: 10px;
    width: 30%;
    animation-duration: 0.2s;
    animation-name: getin;
    animation-timeline: scroll(y);
    animation-range: entry 0% exit 60%;
}
.git{
    color: yellow;
   
    text-decoration: none;
}
a>img{
    width: 15%;
}
@keyframes getin {
    from{opacity: 0;
        left: 0;
    }
    to{opacity: 1;
        left: 50%;
    }
    
}
.lright>h3{
    color: rgb(60, 60, 229);
}
.lright>h1{
    font-family: sans-serif;
    color: white;
}
.lright>h2{
    color: yellow;
    font-family: sans-serif;
}
.lright>p{
    color: white;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
}
.get{
    position: relative;
    background-color: rgb(33, 33, 232);
    width: 25%;
    height: 10vh;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.get>a{
    position: absolute;
    color: white;
    text-decoration: none;
    top: 20px;
    left: 10px;
    
}
.get:hover{
    background-color: yellow;
    transition-duration: 0.3s;
}
.get:hover a{
    color: green;
    
}
.project{
    position: relative;
    display: flex;
    gap: 5%;
}
.project>h2{
    position: absolute;
    top: -10vh;
    color: white;
    
}
.project>.container{
    width: 400px;
    height: 400px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    background-image: linear-gradient(45deg,rgb(247, 9, 247),rgb(196, 169, 173));
}
.project>.container>img{
    width:100%;
    height: 400px;
    border-radius: 10px;
}

.project>.container:hover{
    box-shadow: 0 0 10px yellow;
    transition-duration: 0.3s;
    
}


.service{
    position: relative;
    height: 100vh;

    display: flex;
    gap: 5%;
    overflow: hidden;
}
.service>div{
    
    margin-top: 30vh;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    color: blue;
    font-family: sans-serif;
    text-transform: capitalize;
    opacity: 0.8;
}
.service>.dinamic{
    background-image: linear-gradient(45deg,blue,white);
}
.service>.front{
    background-image: linear-gradient(45deg,violet,pink);
}
.service>.back{
    color: white;
    background-color: rgb(55, 54, 54);
}
.service>.fullstack{
    color: white;
    background-image: linear-gradient(45deg,blue,rgb(55, 54, 54));

}
.service>h1{
    left: 35%;
    cursor: pointer;
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.service>div:hover{
    transition-duration: 0.3s;
    transform: rotate(-20deg);
    box-shadow: 0 0 10px yellow;
}
.skills{
    height: 100vh;
    width: 100%;
    margin: 0;

}
.skills>p,h2{
    color: white;

}
.skills>p{
    font-family: sans-serif;
    text-align: center;
}
.skills>.profile{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 0 10px yellow;
    opacity: 0.8;
}
.skills>.profile:hover{
    background-color: aqua;
    opacity: 0.8;
    transition-duration: 0.3s;
}
.contact{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: rgb(18, 18, 73);
}

.contact>img{
    width: 300px;
    border-radius: 10px;
    opacity: 0.6;
}
.contact>h1{
    position: absolute;
    left: 30%;
    top: -20vh;
    color: rgb(246, 246, 49);
}

.contact>h3{
    
    position: absolute;
    left: 30%;
    top: -20vh;
    color: rgb(246, 246, 49);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    
}
form{position: relative;
    margin-right: 10px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px yellow;
}
form>input,textarea{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5vh;
    background-color: transparent;
    resize: none;
    color: white;
}

form>input{
    height: 8vh;

}
form>#email{
    position: absolute;
    left: 50%;
    top: 2vh;
    width: 48%;

  
}
form>#name{
    position: absolute;
    width: 48%;
    left: 0;
     top: 2vh;
  
}

form>input[type=password]{
      margin-top: 5vh;
}
form>textarea{
    height: 15vh;
}
input::placeholder{
    color: yellow;
}
form>input[type=submit]{
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgb(27, 27, 235);
}
form>input[type=submit]:hover{
    background-color: rgb(95, 95, 233);
    transition-duration: 0.3s;
}
form>input[type=submit]:active{
    background-color: rgb(151, 151, 241);
}
form>h4{
    color: yellow;
}
form>input:focus{
    border: none;
    inset: none;
}

.cross{
    position: fixed;
    color: white;
    display: none;
    font-size: 3rem;
}
.menu{
    color: white;
    position: fixed;
    font-size: 3rem;
    display: none;
    background-color: violet;
    width: 43px;
    border-radius: 50%;
    padding-left: 15px;
}
.menu:hover{
    opacity: 0.6;
}
.cross{
    width: 43px;
    background-color: violet;
    
    border-radius: 50%;
    padding-left: 15px;
}
.cross:hover{
    opacity: 0.6;
}
#check{
    display: none;
}
.lastfooter{
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 30%  30% 30%;
    height: 40vh;
    width: 100%;
    background-color: rgb(8, 3, 39);
}
.lnav{
    display: flex;
    flex-direction: column;

}
.lnav>a{
    text-decoration: none;
    color: yellow;
    width: 25%;
    margin-top: 10px;
}
.lnav>a:hover{
    color: aqua;
    transform: scaleY(1.2);

}
.lnav>p{
    text-transform: capitalize;
    color: yellow;
}
.ldiv1>h3{
    color: yellow;

}
.ldiv3>p{
    color: yellow;

}
.ldiv3>p>a{
    color: aqua;
    text-decoration: none;
    font-size: 20px;
    background-color: blue;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;

}
.ldiv3>p>a:hover{
    background-color: yellow;
    transition-duration:0.3s; 
    color: black;
}
form>p{
    color: red;

}
body>h4{
    display: none;
}
@media (max-width:768px) {
    body>h4{
        display: inline;
        color: white;
        margin-top: 10vh;
    }
   #header>#ulist{
    position: relative;
    left: -500px;
    display: block !important;
    position: absolute;
    top: 20vh;
    background-color: transparent;
    height: 35vh;
    text-align: left;
    width: 50%;
    
    
   }
   #header>#ulist>li{
    text-align: left;
    margin-top: 10px;
    padding-top: 15px;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    background-image: linear-gradient(to right,blue 40%,white 10%);
    
   }
   
   
    #header>#ulist>li:hover{
        transform: scale(1.1,1.1);
    }
   .left>h3{
    background-color: transparent;
   }
   .left>p{
    display: none;
   }
   .right>.mainimage{
    width: 80%;
    position: absolute;
    height: 30vh;
    top: 20vh;
    left: 0;
    opacity: 0.7;
    
   }
   .menu{
    display: block;
   }
   .project{
    position: relative;
   display: block;

}
.project{
    margin-top: 10vh;
}
.project>.container{
    width: 100%;
    height: 300px;
    margin-top: 10%;
}
.project>.container>img{

    width:100%;
    height: 300px;
    border-radius: 10px;
}


  
   #header{
    position: relative;
   }
   #header>#logo{
    display: none;
   }
   #check:checked + #ulist{
    left: 0;
    transition-duration: 0.5s;


   }
   #check:checked ~ .cross{

    display: block;
   }
   #check:checked ~ .menu{
    display: none;
   }
   #header>#talk{
    position: relative;
    left: 50%;
   }
    ul>li>a{
    color: black;
   }
   .firstbutton{
    width: 35%;
   }
   .lastfraction{
    display: block;
   }
   .lleft>img{
    display: none;
   }
   

   .lastfraction{
    display: block;
   }
   .lright>p{
    width: 100%;
   }
   .lright>.get{
    width:70%;
    height: 10vh;
   }
   .contact{
    display: block;
   }
   .contact>img{
    display: none;
   }
   .contact>form{
    width: 100%;
   }
   form>input{
    height: 5vh;
   }
   form>textarea{
    height: 10vh;
   }
   ul>li>a{
    width: 100% !important;
   }
  .lastfooter{
    display: grid;
    grid-template-columns: 20% 20% 60%;

  }
  .ldiv1{
    font-size: 8px;
  }
  .lnav>a{
    font-size: 12px;
  }
  .ldiv3>p{
    font-size: 12px;
  }
  .skills>p{
    text-align: left;
  }
  .service>.front{
    display: none;
  }
  .service>div{
    height: 40vh;
  }
  

}
